/* custom styles */

.THIS.wrapper .header-wrapper{
	height: auto !important;
}

.THIS.wrapper .header-wrapper.small{
	height: 88px;
}

.THIS.wrapper .header-wrapper.small.alert{
	height: 88px;
}

/*.THIS.wrapper .header-wrapper.alert {
    height: 432px;
}*/

.THIS .header-main.small .no-small{
    display: none;
}

.THIS .header-main.small .fullSuccess{
    height: 75px;
}

.THIS .header-main.small .no-balance{
    width: 70%;
}

.THIS .header-main.small .you-owe {
    width: auto !important;
    min-width: 16.6%;
}

.THIS .header-main.small .col.issue {
    min-width: 14%;
}

.THIS .header-main .fullSuccess-container{
    margin-bottom: 1rem;
}

.THIS .header-main.small .fullSuccess-container{
    margin-bottom: 0rem;
}

.THIS button .slds-button__icon.slds-button__icon--large{
    width: 1.5rem;
    height: 1.5rem;
}

.THIS .inline-block{
    display: inline-block;
}

.THIS .status .slds-popup{
    position: absolute;
    top: 45px;
    right: -278px;
}

.THIS .status.inform {
    background: #04844B;
    color: #fff;
}

.THIS .status.inform a {
    color: #fff;
    text-decoration: underline;
}

.THIS .status.warning a {
    color: #16325c;
    text-decoration: underline;
}

.THIS .header-main .no-balance {
    display: inline-block;
    width: 50%;
    margin-left: 2rem;
}

.THIS .header-main .no-balance-header {
    padding-bottom: 1rem;
}

.THIS .header-main .arrow-toggle.backIcon{
    padding-top:0;
    position: relative;
    top: 20px;
}

.THIS .header-main.small .small-popover {
    display: flex !important;
    align-items: center;
}

.THIS .header-main .arrow-toggle:nth-child(2){
    padding-top: 0;
}
.THIS .arrowDisplay {
    display:none !important;
}
.THIS .col.issue.no-big.section_header_Payment {
    width:27%;
    padding:1rem;
}
.THIS .col.issue.no-big.section_header_Amount {
    width:25%;
    padding:1rem;
}

.THIS .value span.uiOutputDate {
    position: initial;
}

.THIS .issue {
    padding: 1rem 10px 0 !important;
}

.THIS .view-account-details {
    display: block;
    width: 50%;
    max-width: 320px;
}
.THIS .col.payment-right {
    margin-right:20px;
}
.THIS .small-popover .status {
    padding:10px 4px;
    text-align: center;
}
.THIS .status .slds-icon {
   margin: 0 0 0 2px;
}