# GitIgnore for Salesforce Projects
# Project Settings and MetaData
.project
.settings/
.metadata
build.properties
config

# Apex Log as optional
apex-scripts/log

# Eclipse specific
salesforce.schema
Referenced Packages
bin/
tmp/
config/
*.tmp
*.bak
local.properties
.settings
.loadpath
.classpath
*.cache

# Mavensmate
*.sublime-project
*.sublime-settings
*.sublime-workspace
mm.log

# OSX-specific exclusions
.[dD][sS]_[sS]tore

# Temp directory for metadata retrieval
sf_temp/

# Illuminated Cloud / Intellij
IlluminatedCloud/
.idea/shelf/
.idea/compiler.xml
.idea/encodings.xml
.idea/jenkinsSettings.xml
.idea/misc.xml
.idea/workspace.xml
*.iws

# Generated
.ant-targets-build.xml
dist/
work/
data/res/temp/
data/res/accessoryFiles/Contact_RecordTypes.csv