# GitIgnore for Salesforce Projects
# Project Settings and MetaData
.project
.settings/
.metadata
build.properties
config

# Assets created from templates
src/sites/
src/namedCredentials/

# Apex Log as optional
apex-scripts/log

# Eclipse specific
salesforce.schema
Referenced Packages
bin/
tmp/
config/
*.tmp
*.bak
local.properties
.settings
.loadpath
.classpath
*.cache

# Mavensmate
*.sublime-project
*.sublime-settings
*.sublime-workspace
mm.log

# OSX-specific exclusions
.[dD][sS]_[sS]tore

# Temp directory for metadata retrieval
sf_temp/

# Illuminated Cloud / Intellij
IlluminatedCloud/
*.iws

# Ant generated
.ant-targets-build.xml
lib/
post_install_zip
