.THIS .fullSuccess{
    height: 75px;
}

.THIS .no-balance{
    width: 70%;
}

.THIS.landing-padding {
    padding: 1rem;
}

.THIS .fullSuccess-container{
    margin-bottom: 1rem;
}

.THIS .fullSuccess-container{
    margin-bottom: 0rem;
}

.THIS .inline-block{
    display: inline-block;
}

.THIS .status .slds-popup{
    position: absolute;
    top: 45px;
    right: -278px;
}

.THIS .status.inform {
    background: #04844B;
    color: #fff;
}

.THIS .status.inform a {
    color: #fff;
    text-decoration: underline;
}

.THIS .status.warning a {
    color: #16325c;
    text-decoration: underline;
}

.THIS .no-balance {
    display: inline-block;
    width: 50%;
    margin-left: 2rem;
}

.THIS .no-balance-header {
    padding-bottom: 1rem;
}

.THIS .value span.uiOutputDate {
    position: initial;
}

.THIS .view-account-details {
    display: block;
    width: 50%;
    max-width: 320px;
}

.THIS .status .slds-icon {
   margin: 0 0 0 2px;
}

.THIS .value {
    font-size: 5rem;
    font-weight: 200;
    position: relative;
    padding: 0 0 30px 0;
}

.THIS .title, .THIS.no-small .title {
    font-size: 0.8rem;
    padding: 0 0 10px 0;
    line-height: 1.25;
    color: #54698d;
}

.THIS .no-link {
    display: none;
}

.THIS .value span {
    font-size: 2.5rem;
    position: absolute;
    top: 3px;
}

.THIS .logo-container {
    margin-bottom: 1rem;
}