.THIS.display_false {
    display: none;
}

.THIS .slds-active.slds-tabs--scoped__link {
    background-color: #fff;
    color: #0070d2;
    border-color: #d8dde6;
}

.THIS.tabsTop {
    position: absolute;
    left: 0;
    width: 100%;
}

.THIS.nav-wrapper nav.navigation{
    position: absolute;
    width: 100%;
}
.THIS.make-payment-content {
    overflow:auto;
    height:100%; 
}
.THIS .create {
    width:50%;
}